{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'src/Style/output.css' %}">
</head>

<body class=" flex bg-blue-950 justify-center items-center">
    <form  id="loginForm" action="/LoginRequest/" method="post">
        {% csrf_token %}
    <div class="flex flex-col ">
        <img src="{% static 'src/img/unnamed 1.png' %}" alt="">
        <h1 class="mx-auto text-2xl text-white font-bold">ساخت حساب </h1>
        <div class="mx-5" dir="rtl">
            <!-- username-->
            <label class="font-medium block mb-1 mt-6 text-white" for="password">
                کد ملی
            </label>
            <div class="relative w-full">
                <input name="NationCode"
                    class="appearance-none border-2 rounded-3xl w-full py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-[#14A6A1] focus:bg-white text-gray-700 pr-16 font-bold "
                    id="password" type="text" maxlength="10" onkeypress="return /[0-9]/i.test(event.key)"
                    autocomplete="off" placeholder="کد ملی  را وارد کنید" />
            </div>

            <!-- pass-->
            <label class="font-medium block mb-1 mt-6 text-white" for="password">

                رمز عبور

            </label>

            <div class="relative w-full">
                <div class="absolute inset-y-0 right-0 flex items-center px-2">
                    <input class="hidden js-password-toggle" id="toggle" type="checkbox" />
                    <label
                        class=" px-2 py-1 rounded-2xl text-sm text-gray-600 font-bold cursor-pointer js-password-label"
                        for="toggle">
                        <img src="{% static 'src/ShowEyes.svg' %}" alt="">

                    </label>
                </div>
                <input name="password"
                    class="appearance-none border-2 rounded-3xl w-full  py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-blue-400 focus:bg-white text-gray-700 pr-16 font-bold js-password transition-all delay-150"
                    id="password" type="password" autocomplete="off" placeholder="رمز عبور خود را وارد کنید" />


            </div>


        </div>
        <!--button login-->
        <button id="Login"
            class="bg-gray-300 rounded-3xl px-3 py-2 w-2/3 mx-auto mt-10 mb-3 hover:bg-blue-400 hover:text-white transition-all delay-150 font-bold text-gray-700 ">ورود</button>

        <div class="mx-auto flex ">
            <span class="underline text-blue-400  cursor-pointer">بسازید</span>
            <h4 class="text-white">حساب کاربری ندارید؟</h4>

        </div>
    </div>
    </form>
    {{ NationCode }}
    {{ password }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>


        //For Show and Hidde pass
        const passwordToggle = document.querySelector('.js-password-toggle')

        passwordToggle.addEventListener('change', function () {
            const password = document.querySelector('.js-password'),
                passwordLabel = document.querySelector('.js-password-label')

            if (password.type === 'password') {
                password.type = 'text'
                passwordLabel.innerHTML = " <img src='../../static/src/HiddenEyes.svg' width=\'20px\' height=\'20px\'>"

            } else {
                password.type = 'password'
                passwordLabel.innerHTML = 'show'
                passwordLabel.innerHTML = " <img src='../../static/src/ShowEyes.svg' width=\'20px\' height=\'40px\'>"
            }

            password.focus()
        })
        //chenge color btn mosafer or pazirande
       
    </script>
</body>

</html>