{% extends 'mainAdmin.html' %}
{% load static %}
{% block title %}درخواست ها{% endblock %}
{% block link %} <link rel="stylesheet" href="{% static 'src/Style/settlement.css' %}">


{% endblock %}
{% load humanize %}

{% block content %}
            <!--start table-->

            <div class="mt-20">
                <span class="mx-20 font-bold font-sans text-xl">درخواست ها</span>
            </div>

            <article class="mt-10 mx-10 ">
    

                <br>

                <div class=" overflow-auto max-h-[58vh] shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                        <!--header of table-->
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 child:text-nowrap">
                            <tr class>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    نام مشتری
                                </th>
                                <th scope="col" class="px-6 py-3flex items-center justify-center my-4">
                                    کد ملی
                                </th>
                                <th scope="col" class="flex items-center px-6 my-4">
                                    شماره تماس
                                </th>
                                <th scope="col" class="px-4 py-3 ">
                                    مبلغ
                                </th>
                                 <th scope="col" class="px-4 py-3 ">
                                    طلا
                                </th>
                                <th scope="col" class=" px-6 my-4">
                                    موجودی کیف پول
                                </th>
                                <th scope="col" class=" px-6 my-4">
                                    موجودی کیف طلا
                                </th>
                                 <th scope="col" class=" px-6 my-4">
                                    تاریخ تراکنش
                                </th>
                                <th scope="col" class=" flex justify-center px-7 py-3">
                                    فیش واریز
                                </th>

                                <th scope="col" class="px-6 py-3">

                                </th>


                            </tr>
                        </thead>
                        <!--body of table-->
                        <tbody>
                            <!--nth row table-->
                            {% for req in requestCustomer %}
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                    <span>{{ req.1.user.first_name }} {{ req.1.user.last_name }}</span>
                                </th>
                                <td class="px-6 py-4">
                                      {{ req.1.user.username }}
                                </td>
                                <td class="px-6 py-4 ">
                                    {{ req.1.Mobile }}
                                </td>
                                <td class="px-6 py-4">
                                      <span>{{ req.0.price|intcomma }} ریال  {{ req.0 }}</span>
                                </td>

                                 <td class="px-6 py-4">
                                      <span><b>{{ req.0.gold }}</b> گرم {{ req.0 }}</span>
                                </td>
                                <td class="px-6 py-4">
                                   {{ req.2.moneyInventory|intcomma }}ریال
                                </td>
                                <td class="px-6 py-4">
                                    {{ req.2.goldInventory }}گرم

                                </td>
                                <td class="px-6 py-4">
                                    {{ req.0.date }}گرم

                                </td>
                                <!--see img btn-->
                                
                                <td class="px-6 py-4  ">
                                    <button class=""
                                        onclick="showImage('{{ req.0.image.url }}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                            class="size-6">
                                            <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                            <path fill-rule="evenodd"
                                                d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"
                                                clip-rule="evenodd" />
                                        </svg>

                                    </button>
                                </td>
                              
                                <!--accept or reject btn-->
                                <td class="px-6 py-3 flex justify-around    flex-nowrap">
                                    <button onclick="confirm('{{ req.0.id }}','{{ req.0 }}','{{ req.0.price }}','{{ req.0.gold }}')"
                                        class="px-6 py-3 rounded-xl text-white bg-lime-500 hover:bg-lime-400">تایید</button>
                                    <button onclick="reject('{{ req.0.id  }}','{{ req.0 }}')"
                                        class="px-6 py-3 rounded-xl text-white bg-red-600 hover:bg-red-400">رد</button>

                                </td>


                            </tr>
                            {% endfor %}



                        </tbody>
                    </table>
                </div>

            </article>

{% endblock %}

{% block script %}
    <script src="{% static 'jquery-3.7.1.min.js.js' %}"></script>
    <script>
        function showImage(e) {
            var imageContainer =
                document.createElement("div");
            imageContainer.className =
                "image-container";

            var image =
                document.createElement("img");
            image.src =
                e;
            console.log(e)
            var closeButton =
                document.createElement(
                    "button"
                );
            closeButton.textContent = 'بستن';
            closeButton.className =
                "close-btn";
            closeButton.onclick =
                function () {
                    document.body.removeChild(
                        imageContainer
                    );
                };

            imageContainer.appendChild(
                closeButton
            );
            imageContainer.appendChild(image);

            document.body.appendChild(
                imageContainer
            );
        }   
         function confirm (requestID,requestName,price,gold){

              var CSRFTOKEN='{{ csrf_token }}';
            $.ajax(
            {
                url:'{% url 'checkOrder' %}',
                method:'POST',
                data:{
                    'choice':1,
                    'request':requestID,
                    'requestName':requestName,
                    'price':price,
                    'gold':gold,

                    'csrfmiddlewaretoken':CSRFTOKEN,
                },
                dataType:'json',
                success:function (response){

                    alert(response.messages)
                    location.reload()
                }
            })
        }
      
         function reject (requestID,requestName){
              var CSRFTOKEN='{{ csrf_token }}';
            $.ajax({
                url:'{% url 'checkOrder' %}',
                method:'POST',
                data:{
                    'choice':0,
                   'request':requestID,
                    'requestName':requestName,
                    'csrfmiddlewaretoken':CSRFTOKEN,
                },
                dataType:'json',
                success:function (){
                    location.reload()
                }
            })
        }


    </script>
{% endblock %}
