{% extends 'mainAdmin.html' %}
{% load static %}
{% block title %}برداشت ها{% endblock %}

{% block content %}
            <!--start table-->

            <div class="mt-20">
                <span class="mx-20 font-bold font-sans text-xl">برداشت ها</span>
            </div>

            <article class="mt-10 mx-10 ">


                <div class=" overflow-auto max-h-[58vh] shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                        <!--header of table-->
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 child:text-nowrap">
                            <tr class>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    نام مشتری
                                </th>
                                <th scope="col" class="px-6 py-3flex items-center justify-center my-4">
                                    کد ملی
                                </th>
                                <th scope="col" class="flex items-center px-6 my-4">
                                    شماره تماس
                                </th>
                                <th scope="col" class="px-6 my-4">
                                    مبلغ برداشت
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    موجودی کیف پول
                                </th>
                                <th scope="col" class="px-6 py-3">
                                     وضعیت
                                </th>
                                <th scope="col" class="px-8 py-3">
                                    شماره کارت
                                </th>
                               
                               
                            </tr>
                        </thead>
                        <!--body of table-->
                        <tbody>
                            <!--nth row table-->
                            {% for b in Buy %}
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                    <span>{{ b.1.user.first_name }} {{ b.1.user.last_name }}</span>
                                </th>
                                <td class="px-6 py-4">
                                    {{ b.1.user.username }}
                                </td>
                                <td class="px-6 py-4 ">
                                    {{ b.1.Mobile }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ b.0.price }}
                                </td>
                                <td class="px-6 py-4">
                                     {{ b.2.moneyInventory }}
                                </td>
                                {% if b.0.status == 2 %}
                                <td class="px-6 py-4">
                                    <span class="text-lime-500 font-bold">تایید شد</span>
                                </td>
                                {% elif b.0.status == 1 %}  
                                        <td class="px-6 py-4">
                                    <span class="text-red-600 mx-auto font-bold">رد شد</span>
                                </td>
                                    
                                {% else %}
                                     <td class="px-6 py-4">
                                    <span class="text-gray-600 mx-auto font-bold">درحال بررسی</span>
                                    </td>
                                {% endif %}
                                <td class="px-6 py-4  gap-4 child:text-nowrap">
                                    <span>{{ b.2.number }} {{ b.2.nameCart }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                
                    
                          
                           
                        </tbody>
                    </table>
                </div>

            </article>

      {% endblock %}