{% extends 'mainCustomer.html' %}
{% load static %}
 {% block title %}داشبورد{% endblock %}



            {% block content %}
            <!--Baners-->
            <div>

                <div
                    class="grid grid-cols-2 gap-4   md:gap-3 md:grid-cols-4 mt-24 child:rounded-xl child:font-bold mx-5 text-slate-200 text-xs md:text-sm lg:text-lg text-nowrap font-bold">
                    <div
                        class="relative flex flex-col  items-center justify-center  bg-gradient-to-b from-blue-900 to-blue-400 px-10 py-10">
                        <img src="{% static 'src/img/ID not Verified.png' %}" class="w-20 absolute -top-8" alt="">
                        <span>درخواست های تایید نشده من</span>
                        <span>{{ numberRequests }}</span>
                    </div>
                    <div
                        class="relative flex flex-col  items-center justify-center  bg-gradient-to-b from-blue-900 to-blue-400  px-10 py-10">
                        <img src="{% static 'src/img/Gold Bars.png' %}" class="w-20 absolute -top-8" alt="">
                        <span>موجودی طلا من</span>
                        <span>43</span>
                    </div>
                    <div
                        class="relative flex flex-col  items-center justify-center  bg-gradient-to-b from-blue-900 to-blue-400 px-10 py-10">
                        <img src="{% static 'src/img/Split Money.png' %}" class="w-20 absolute -top-10" alt="">
                        <span>موجودی پول من</span>
                        <span>43</span>
                    </div>
                    <div
                        class="relative flex flex-col  items-center justify-center  bg-gradient-to-b from-blue-900 to-blue-400 px-10 py-10">
                        <img src="{% static 'src/img/Cash.png' %}" class="w-20 absolute -top-8" alt="">
                        <span>مجموع تراکنش های امروز من </span>
                        <span>43</span>
                    </div>
                </div>
            </div>

            <div class=" mt-5   justify-around ">
                <!--table-->
                <span class="mx-20 font-bold text-gray-600 text-xl">آخرین عملیات </span>
                <article class="mt-5 mx-10    ">


                    <div class=" overflow-auto max-h-[47vh] shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                            <!--header of table-->
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 child:text-nowrap">
                                <tr class>
                                    <th scope="col" class="flex items-center justify-center my-4 text-nowrap">
                                        نتیجه تراکنش
                                    </th>



                                    <th scope="col" class="px-6 my-4">
                                        مبلغ
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        نوع تراکنش

                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        تاریخ
                                    </th>



                                </tr>
                            </thead>
                            <!--body of table-->
                            <tbody>
                                <!--nth row table-->
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-green-400 font-bold">موفق</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        4000$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>

                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-red-400 font-bold ">ناموفق </span>
                                    </th>
                                    <td class="px-6 py-4">
                                        1600$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        واریز
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>

                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>

                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>




                            </tbody>
                        </table>
                    </div>

                </article>


            </div>

{% endblock %}