{% extends 'mainCustomer.html' %}
{% load static %}
{% block title %}پروفایل{% endblock %}


    {% block content %}
            {% if messages %}
          {% for message in messages %}
        <div class="absolute top-0 bg-lime-500 px-4 py-2 text-white rounded-3xl ">
        {{ message }}
        </div>
        {% endfor %}
 {% endif %}


            <div class=" mt-5 flex flex-col items-center  justify-center ">
                <span class="text-2xl font-bold text-gray-700">پروفایل</span>

                <!--form-->

                <form class="w-[50vh] md:w-[60vh] mx-auto grid grid-cols-1" method="post" action="/changeBio/">
                    {% csrf_token %}
                    <!--start Number inupt-->
                    <label class=" block mb-3 mt-6 font-bold text-gray-500" for="password">
                        شماره ثابت
                    </label>

                    <div class="relative mx-4">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                            <input class="hidden js-password-toggle" id="toggle" type="checkbox" />
                            <label
                                class=" px-2 py-1 rounded-2xl text-sm text-gray-600 font-bold cursor-pointer js-password-label"
                                for="toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                                </svg>



                            </label>
                        </div>
                        <input name="lineNumber" value="{{ person1.LandlineNumber }}"
                            class=" appearance-none border-2 rounded-xl w-full  py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-blue-400 focus:bg-white text-gray-700 pr-16 font-bold js-password transition-all delay-150"
                            autocomplete="off" placeholder="شماره تلفن را وارد کنید" />


                    </div>


                    <!--end Number inupt-->

                    <label class=" block mb-3 mt-6 font-bold text-gray-500" for="password">

                        کد ملی

                    </label>

                    <div class="relative mx-4">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                            <input class="hidden js-password-toggle" id="toggle" type="checkbox" />
                            <label
                                class=" px-2 py-1 rounded-2xl text-sm text-gray-600 font-bold cursor-pointer js-password-label"
                                for="toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                                </svg>



                            </label>
                        </div>
                        <input name="NationCode" value="{{ username }}"
                            class="appearance-none border-2 rounded-xl w-full  py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-blue-400 focus:bg-white text-gray-700 pr-16 font-bold js-password transition-all delay-150"
                             autocomplete="off"
                            placeholder=" کد ملی خود را وارد کنید" />


                    </div>


                    <label class=" block mb-3 mt-6 font-bold text-gray-500" for="password">

                        تغییر رمز عبور

                    </label>

                    <div class="relative mx-4">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                            <input class="hidden js-password-toggle" id="toggle" type="checkbox" />
                            <label
                                class=" px-2 py-1 rounded-2xl text-sm text-gray-600 font-bold cursor-pointer js-password-label"
                                for="toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="size-6">
                                    <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    <path fill-rule="evenodd"
                                        d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"
                                        clip-rule="evenodd" />
                                </svg>


                            </label>
                        </div>
                        <input name ='password'
                            class="appearance-none border-2 rounded-xl w-full  py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-blue-400 focus:bg-white text-gray-700 pr-16 font-bold js-password transition-all delay-150"
                            id="password" type="password" autocomplete="off" placeholder="رمز عبور خود را وارد کنید" />


                    </div>
                     <label class=" block mb-3 mt-6 font-bold text-gray-500" for="password">

                         تکرار تغییر رمز عبور

                    </label>

                    <div class="relative mx-4">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                            <input class="hidden js-password-toggle" id="toggle" type="checkbox" />
                            <label
                                class=" px-2 py-1 rounded-2xl text-sm text-gray-600 font-bold cursor-pointer js-password-label"
                                for="toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="size-6">
                                    <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    <path fill-rule="evenodd"
                                        d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"
                                        clip-rule="evenodd" />
                                </svg>


                            </label>
                        </div>
                        <input name="repassword"
                            class="appearance-none border-2 rounded-xl w-full  py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-blue-400 focus:bg-white text-gray-700 pr-16 font-bold js-password transition-all delay-150"
                            id="password" type="password" autocomplete="off" placeholder="رمز عبور خود را وارد کنید" />


                    </div>

                    <!--start Addres inupt-->
                    <label class=" block mb-3 mt-6 font-bold text-gray-500" for="password">
                        آدرس
                    </label>
                    <div class="relative mx-4">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                            <input class="hidden js-password-toggle" id="toggle" type="checkbox" />
                            <label class=" px-2 py-1 rounded-2xl text-sm text-gray-600 font-bold " for="toggle">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                                </svg>




                            </label>
                        </div>

                        <textarea
                            class="appearance-none border-2 rounded-xl w-full py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-blue-400 focus:bg-white text-gray-700 pr-16 font-bold "
                            name="address" id="password" type="text" autocomplete="off" placeholder="آدرس  را وارد کنید"></textarea>
                    </div>
                    <!--end Addres inupt-->

                    <button style="color: #1d4ed8"
                        class="w-1/2 mx-auto my-5 px-4 py-2 rounded-lg bg-gradient-to-r from-blue-700 to-blue-400 text-white font-bold hover:bg-gradient-to-l transition-all delay-200"
                        type="submit">تایید نهایی</button>

                </form>


            </div>

{% endblock %}

