{% extends 'mainCustomer.html' %}
{% load static %}
{% block title %}واریز وجه{% endblock %}

{% block content %}
            <div class=" mt-5 flex flex-col items-center  justify-center ">
                <span class="text-2xl font-bold text-gray-700">درخواست واریز وجه</span>
                <!--card info-->
                <div class="py-4">
                    <img src="{% static 'src/img/Magnetic Card.png' %}" class="mx-auto" alt="card">
                    <p>
                        <span class="font-bold text-xl text-gray-600">شماره کارت:</span>
                        <span class="font-bold">6219 8619 0685 2420</span>
                    </p>
                    <span class="font-bold text-xl text-gray-600">صاحب کارت:</span>
                    <span class="font-bold">مبین کاظمی</span>
                </div>

                <!--input price-->

                <div class="flex flex-col gap-3 items-center justify-between">
                    <form class="flex flex-col gap-4 items-center justify-between">
                        <input
                            class=" appearance-none border-2 rounded-xl w-full  py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-blue-400 focus:bg-white text-gray-700 pr-16 font-bold js-password transition-all delay-150"
                            autocomplete="off" placeholder="مبلغ  را وارد کنید" />

                        <div class="flex flex-col items-center justify-around ">
                            <!--uplode img-->
                            <label for="files"
                                class="cursor-pointer bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-lg mx-auto">
                                آپلود فیش واریزی</label>
                            <input id="files" style="visibility:hidden;" type="file">

                            <button class="px-5 py-2 text-white rounded-xl bg-green-600 hover:bg-green-500">تایید</button>
                        </div>
                    </form>

                </div>
                <!--table-->
                <article class="mt-5 mx-10 w-[90%] ">
                    <span class="text-gray-600 text-base">سابقه واریز</span>

                    <div class=" overflow-auto max-h-[20vh] shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                            <!--header of table-->
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 child:text-nowrap">
                                <tr class>
                                    <th scope="col" class="flex items-center justify-center my-4 text-nowrap">
                                        نتیجه تراکنش
                                    </th>



                                    <th scope="col" class="px-6 my-4">
                                        مبلغ
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        نوع تراکنش

                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        تاریخ
                                    </th>



                                </tr>
                            </thead>
                            <!--body of table-->
                            <tbody>
                                <!--nth row table-->
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-green-400 font-bold">موفق</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        4000$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>

                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-red-400 font-bold ">ناموفق </span>
                                    </th>
                                    <td class="px-6 py-4">
                                        1600$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        واریز
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>

                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>

                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>
                                <tr class="bg-white border-b   hover:bg-gray-50 ">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                        <span class="text-gray-400 font-bold">درحال برسی</span>
                                    </th>
                                    <td class="px-6 py-4">
                                        200$
                                    </td>
                                    <td class="px-6 py-4 ">
                                        برداشت
                                    </td>
                                    <td class="px-6 py-4">
                                        1403/02/6
                                    </td>

                                </tr>




                            </tbody>
                        </table>
                    </div>

                </article>
            </div>

{% endblock %}

