{% extends 'mainCustomer.html' %}
{% load static %}
{% load humanize %}
{% block link %}
    <script>
            function formatPrice(value) {
            // Remove non-digit characters
            const cleanedValue = value.replace(/\D/g, '');

            // If the cleanedValue has 3 digits or less, return it as is
            if (cleanedValue.length <= 3) {
                return cleanedValue;
            }

            // If more than 3 digits, add commas
            return cleanedValue.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        document.addEventListener('DOMContentLoaded', function() {
            const inputElement = document.getElementById('price');

            inputElement.addEventListener('input', function() {
                const formattedValue = formatPrice(this.value);
                this.value = formattedValue; // Update the input value
            });
        });
</script>
{% endblock %}

{% block content %}
    <section>
        <div class="grid grid-cols-1 md:grid-cols-2 items-center  justify-center px-10 mt-20">
            <span class="text-2xl font-bold text-gray-600">درخواست تبدیل طلا به وجه نقد</span>
            <div class="text-right md:text-left">
                <span  class="font-bold text-gray-600">موجودی کیف پول: </span>
                <span style="color: #11af2b" class="font-bold text-green-400">{{ account.moneyInventory|intcomma }}ریال </span>
                <br>
                <span class="font-bold text-gray-600">موجودی کیف طلا: </span>
                <span style="color: #dbbd0a" class="font-bold text-green-400">{{ account.goldInventory }}گرم </span>

            </div>
        </div>
    </section>
<div style="text-align: center">
            <span ><b>در هر درخواست شما %1.5 به عنوان کارمزد لحاظ میگردد </b></span>
    <br>
            <span style="color: red;font-size: 20px" >لطفا از مقادیر ورودی فقط یکی پر کنید</span></div>
    <section>
        <form method="post" action="/payment/changeGoldToMoneyRequest/{{ paymentDate }}" class="flex flex-col justify-center items-center gap-10">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-1 mx-10  gap-10 mt-10">
                <input id="price" name="price"
                        class=" appearance-none border-2 rounded-xl w-full  py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-blue-400 focus:bg-white text-gray-700 pr-16 font-bold js-password transition-all delay-150"
                        autocomplete="off" placeholder="بر اساس مبلغ"/>
                 <input name="gold"
                        class=" appearance-none border-2 rounded-xl w-full  py-3 px-3 leading-tight border-gray-300 bg-gray-100 focus:outline-none focus:border-blue-400 focus:bg-white text-gray-700 pr-16 font-bold js-password transition-all delay-150"
                        autocomplete="off" placeholder="بر اساس گرم طلا"/>

            </div>

            <button type="submit"
                    class="min-w-40 bg-green-600 hover:bg-green-500 text-white rounded-2xl px-4 py-2">تایید
            </button>
        </form>
    </section>

    <!--table-->
    <article class="mt-5 mx-10 w-[90%] ">
        <span class="text-gray-600 text-2xl font-bold">سابقه </span>

        <div class=" overflow-auto max-h-[40vh] md:max-h-[30vh] shadow-md sm:rounded-lg mt-5">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                <!--header of table-->
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 child:text-nowrap">
                <tr class>
                    <th scope="col" class="flex items-center justify-center my-4 text-nowrap">
                        نتیجه تراکنش
                    </th>


                    <th scope="col" class="px-6 my-4">
                        مبلغ
                    </th>
                    <th scope="col" class="px-6 my-4">
                        طلا
                    </th>
                    <th scope="col" class="px-6 py-3">
                        نوع تراکنش

                    </th>
                    <th scope="col" class="px-6 py-3">
                        تاریخ
                    </th>
                    <th scope="col" class="px-6 py-3">
                        حذف تراکنش
                    </th>

                </tr>
                </thead>
                <!--body of table-->
                <tbody>
                <!--nth row table-->
                {% for c in convert %}
                    <tr class="bg-white border-b   hover:bg-gray-50 ">
                        {% if c.status == 2 %}
                            <th scope="row" style="color: #0dd40d"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                <span class="text-green-400 font-bold">موفق</span>
                            </th>
                        {% elif c.status == 1 %}
                            <th scope="row" style="color: red"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                <span class="text-red-400 font-bold ">ناموفق </span>
                            </th>
                        {% else %}
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-center">
                                <span class="text-gray-400 font-bold">درحال بررسی</span>
                            </th>
                        {% endif %}
                        <td class="px-6 py-4">
                            {{ c.price|intcomma }}ریال
                        </td>
                    <td class="px-6 py-4">
                            {{ c.gold }}گرم
                        </td>
                        <td class="px-6 py-4 ">
                            {{ c }}
                        </td>
                        <td class="px-6 py-4">
                            {{ c.date }}
                        </td>
                     {% if c.status == 0%}
                                <td class="px-6 py-3 flex justify-around    flex-nowrap">
                                    <a href="/payment/DeleteTransaction/{{ c.id }}/{{ c }}"
                                        class="px-6 py-3 rounded-xl text-white bg-red-600 hover:bg-red-400">حذف</a>

                                </td>
                                {% endif %}
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>

    </article>
{% endblock %}