{% extends 'mainAdmin.html' %}
{% load static %}
{% block title %}تعیین شماره کارت{% endblock %}

         {% block content %} 



            <!--start table-->

            <div class="mt-20">
                <span class="mx-20 font-bold font-sans text-xl">تعیین شماره کارت</span>
            </div>

            <article class="mt-10 mx-10 ">

                <div class="p-6 ">
                    
                    <div class=" w-full  grid grid-cols-1 md:grid-cols-4 items-center justify-center gap-10 px-10">
                        <div
                            class="bg-gradient-to-b from-blue-900 to-blue-500 items-center justify-center w-full max-w-72 h-36 rounded-xl relative ">
                            <div class="w-full h-6 bg-gray-800 mt-4 absolute items-center justify-center">
                                <p class=" pt-14 text-base text-center justify-center items-center" id="CardNumber">
                                    {{ payment.number }}</p>
                                <p class=" pt-4 text-sm text-center justify-center items-center" id="Name">
                                    {{ payment.nameCart }}</p>
                            </div>
                        </div>
                        <input type="text" id="CardNumberInput" class="bg-gray-200 h-8 p-2 border border-1 border-blue-500 "
                            placeholder="شماره کارت خود را وارد کنید ...">
                        <input type="text" id="NameInput" class="bg-gray-200 h-8 p-2 border border-1 border-blue-500"
                            placeholder="نام و نام خانوادگی صاحب کارت را وارد کنید ...">
                        <button onclick="getValue()"
                            class="px-6 py-3 mx-auto  md:mx-0 w-max rounded bg-green-600 text-white hover:bg-green-500 items-center justify-center text-center text-[1.25rem]"
                            type="button">
                            تایید
                        </button>
            
                    </div>
                </div>

            </article>

   {% endblock %}
    
    {% block script %}
        <script src="{% static 'jquery-3.7.1.min.js.js' %}"></script>
    <script>
        function getValue() {
            let inputField = document.getElementById("CardNumberInput");
            let inputField2 = document.getElementById("NameInput");

            let valuecart = inputField.value;
            let valuename= inputField2.value;
            var CSRFTOKEN='{{ csrf_token }}';
            document.getElementById("CardNumber").innerHTML = valuecart;
            document.getElementById("Name").innerHTML = valuename;
            $.ajax(
            {
                url:'{% url 'changeCartNumber' %}',
                method:'POST',
                data:{
                'cardNumber':valuecart,
                'name':valuename,
                'csrfmiddlewaretoken':CSRFTOKEN
                },
                dataType:'json',
                success:function (){
                    document.getElementById("CardNumber").innerHTML = valuecart;
                    document.getElementById("Name").innerHTML = valuename;
                    document.getElementById("CardNumberInput").value=valuecart
                    document.getElementById("NameInput").value=valuename
                }
            }
        )
        }
        

    </script>

{% endblock %}