{% extends 'mainAdmin.html' %}
{% load static %}
{% block title %}مشخصات مشتریان{% endblock %}
  

   
        <!--main content-->

{% block content %}
            <!--start table-->

            <div class="mt-20">
                <span class="mx-20 font-bold font-sans text-xl">آخرین تراکنشات</span>
            </div>

            <article class="mt-10 mx-10 ">


                <div class=" overflow-auto max-h-[54vh] shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 child:text-nowrap">
                            <tr>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    نام مشتری
                                </th>
                                <th scope="col" class="px-6 py-3flex items-center justify-center my-4">
                                    کد ملی
                                </th>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    شماره تماس
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    موجودی کیف پول
                                </th>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    واریز ها
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    برداشت ها
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    تبدیل طلا
                                </th>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    ویرایش
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    جعفر
                                </th>
                                <td class="px-6 py-4">
                                    127549808
                                </td>
                                <td class="px-6 py-4">
                                    09133256564646
                                </td>
                                <td class="px-6 py-4">
                                    02/04/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4 flex items-center justify-around gap-4 child:text-nowrap">
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-amber-400 hover:bg-amber-200">مسدود</button>
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-red-600 hover:bg-red-400">حذف
                                        مشتری</button>
                                </td>
                            </tr>
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    جعفر
                                </th>
                                <td class="px-6 py-4">
                                    6800$
                                </td>
                                <td class="px-6 py-4">
                                    موفق
                                </td>
                                <td class="px-6 py-4">
                                    02/04/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4 flex items-center justify-around gap-4 child:text-nowrap">
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-green-500 hover:bg-green-300">
                                        فعالسازی</button>
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-red-600 hover:bg-red-400">حذف
                                        مشتری</button>
                                </td>
                            </tr>
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    جعفر
                                </th>
                                <td class="px-6 py-4">
                                    6800$
                                </td>
                                <td class="px-6 py-4">
                                    موفق
                                </td>
                                <td class="px-6 py-4">
                                    02/04/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4 flex items-center justify-around gap-4 child:text-nowrap">
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-amber-400 hover:bg-amber-200">مسدود</button>
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-red-600 hover:bg-red-400">حذف
                                        مشتری</button>
                                </td>
                            </tr>
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    جعفر
                                </th>
                                <td class="px-6 py-4">
                                    6800$
                                </td>
                                <td class="px-6 py-4">
                                    موفق
                                </td>
                                <td class="px-6 py-4">
                                    02/04/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4 flex items-center justify-around gap-4 child:text-nowrap">
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-amber-400 hover:bg-amber-200">مسدود</button>
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-red-600 hover:bg-red-400">حذف
                                        مشتری</button>
                                </td>
                            </tr>
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    جعفر
                                </th>
                                <td class="px-6 py-4">
                                    6800$
                                </td>
                                <td class="px-6 py-4">
                                    موفق
                                </td>
                                <td class="px-6 py-4">
                                    02/04/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4 flex items-center justify-around gap-4 child:text-nowrap">
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-amber-400 hover:bg-amber-200">مسدود</button>
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-red-600 hover:bg-red-400">حذف
                                        مشتری</button>
                                </td>
                            </tr>
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    جعفر
                                </th>
                                <td class="px-6 py-4">
                                    6800$
                                </td>
                                <td class="px-6 py-4">
                                    موفق
                                </td>
                                <td class="px-6 py-4">
                                    02/04/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4 flex items-center justify-around gap-4 child:text-nowrap">
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-amber-400 hover:bg-amber-200">مسدود</button>
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-red-600 hover:bg-red-400">حذف
                                        مشتری</button>
                                </td>
                            </tr>
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    جعفر
                                </th>
                                <td class="px-6 py-4">
                                    6800$
                                </td>
                                <td class="px-6 py-4">
                                    موفق
                                </td>
                                <td class="px-6 py-4">
                                    02/04/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4 flex items-center justify-around gap-4 child:text-nowrap">
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-amber-400 hover:bg-amber-200">مسدود</button>
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-red-600 hover:bg-red-400">حذف
                                        مشتری</button>
                                </td>
                            </tr>
                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    جعفر
                                </th>
                                <td class="px-6 py-4">
                                    6800$
                                </td>
                                <td class="px-6 py-4">
                                    موفق
                                </td>
                                <td class="px-6 py-4">
                                    02/04/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4">
                                    04/02/1403
                                </td>
                                <td class="px-6 py-4 flex items-center justify-around gap-4 child:text-nowrap">
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-amber-400 hover:bg-amber-200">مسدود</button>
                                    <button
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-red-600 hover:bg-red-400">حذف
                                        مشتری</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </article>


   {% endblock %}