{% extends 'mainAdmin.html' %}
{% load static %}
{% load humanize %}
{% block title %}مشخصات مشتریان{% endblock %}



        <!--main content-->
   
{% block content %}
            <!--start table-->

                      {% if messages %}
          {% for message in messages %}
        <div class="absolute top-0 bg-lime-500 px-4 py-2 text-white rounded-3xl ">
        {{ message }}
        </div>
                {% endfor %}
            {% endif %}
            <div class="mt-20">
                <span class="mx-20 font-bold font-sans text-xl">آخرین تراکنشات</span>
            </div>

            <article class="mt-10 mx-10 ">


                <div class=" overflow-auto max-h-[54vh] shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 child:text-nowrap">
                            <tr>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    نام مشتری
                                </th>
                                <th scope="col" class="px-6 py-3flex items-center justify-center my-4">
                                    کد ملی
                                </th>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    شماره تماس
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    موجودی کیف (پول)
                                </th>
                                 <th scope="col" class="px-6 py-3">
                                    موجودی کیف (طلا)
                                </th>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    واریز ها
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    برداشت ها
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    تبدیل طلا
                                </th>
                                <th scope="col" class="flex items-center justify-center my-4">
                                    ویرایش
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}

                            <tr class="bg-white border-b   hover:bg-gray-50 ">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                                    <span>{{ user.0.user.first_name }} {{ user.0.user.last_name }}</span>
                                </th>
                                <td class="px-6 py-4">
                                  {{ user.0.user.username }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ user.0.Mobile }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ user.1|intcomma }}
                                </td>
                                <td class="px-6 py-4">
                                   {{ user.2 }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ user.3 }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ user.4 }}
                                </td>
                                   <td class="px-6 py-4">
                                   {{ user.5}}
                                </td>
                                <td class="px-6 py-4 flex items-center justify-around gap-4 child:text-nowrap">
                                    {% if user.0.blockStatus %}
                                          <a href="/activeCustomer/{{ user.0.id }}"
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-green-500 hover:bg-green-300">
                                        فعالسازی</a>
                                    {% else %}
                                    <a href="/BlockCustomer/{{ user.0.id }}"
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-amber-400 hover:bg-amber-200">مسدود</a>
                                   
                                  
                                    {% endif %}
                                    <a href="/DeleteCustomer/{{ user.0.id }}"
                                        class="px-4 py-2 rounded-xl text-white font-bold bg-red-600 hover:bg-red-400">حذف
                                        مشتری</a>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>

            </article>


   {% endblock %}